/* src/components/BackgroundSlideshow.css */
.slideshow-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    transition: background-image 1s ease-in-out, opacity 7s ease-in-out;
  }
  